<%= form_for @artist do |f| %>
  <div class="field">

    <%= f.text_field :name, placeholder: 'Searh All Artists' %>
  </div>

  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>


