<%= form_for @artist do |f| %>
  <div class="field">
    <%= f.label :find_new_artist %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>


