<%= form_tag(@artist) do %>
  <div class="field">
    <%= label_tag :find_new_artists %>
    <%= text_field_tag :name %>
  </div>

  <div class="actions">
    <%= submit_tag "Search" %>
  </div>
<% end %>


